// Archivo: sass/layout/_mejora-continua.scss

@use '../utilities/variables' as *;
@use '../utilities/mixins'; 

.service-page {
    background-color: $light-gray; 
    text-align: center;

    .service-intro {
        text-align: center; 

        .btn-diagnostico {
            @include mixins.base-button($light-pink, $main-blue);
            margin-top: 20px;
        }
    }

    .service-secondary-content {
        text-align: center; 
        
        .btn-primary {
            @include mixins.base-button($light-pink, $main-blue);
            display: inline-block; 
            margin-top: 10px;
        }
    }
    
    .service-hero-image img {
        max-width: 250px; 
        height: auto;
        margin: 20px auto;
    }
}