// Archivo: sass/layout/_servicios-base.scss

@use '../utilities/variables' as *;
@use '../utilities/mixins'; 

.services-page,
.service-detail {
    padding: 50px 0;
    background-color: $light-gray !important;
    
    a.btn-diagnostico,
    a.btn-primary {
        @include mixins.base-button($light-pink, $main-blue);
        display: inline-block; 
        padding: 10px 20px;
    }

    img {
        max-width: 100%; 
        height: auto;
        display: block;
        margin: 30px auto;
    }
    
    .service-hero-image {
        img { 
            max-width: 350px;
            height: auto;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            margin: 0 auto 20px;
        }
    }
}

// Estilos para imágenes de contenido
.service-content img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 30px auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}