// Archivo: sass/utilities/_variables.scss

// Colores de la Marca
$main-blue: #11405f;
$light-pink: #f6bde1;
$white: #ffffff;
$light-gray: #fbe2e1;
$purple-gray: #a3a895;

// Tipografías
$font-body: 'Montserrat', sans-serif;
$font-title: 'Alexandra', serif;

// Breakpoints de Media Queries
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1024px;