// Archivo: sass/base/_reset.scss

@use '../utilities/variables' as *;
@use '../utilities/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-body;
    color: $main-blue;
    background-color: $white;
    line-height: 1.6;
}

img.service-icon {
    height: 80px; 
    width: auto;
    max-width: 80px; 
}

// Estilo para la frase final de la tarjeta de servicio
.final-phrase {
    text-align: center;
    font-style: italic;
    margin-top: 40px;
    font-size: 1.2rem;
    padding: 0 20px;
}

img.service-icon {
    height: 80px; 
    width: auto;
    max-width: 80px; 
}